{% extends "Base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="pt-5">
	<div class="container-fluid has-inner">
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<h1 align="center">Team Edit</h1>
				<form id="MusicEdit" action="{{ url_for('TeamsBP.teamchanged') }}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class='col-sm'>
                            <div class="form-group  required"><label class="control-label" for="Name">Name</label>
                                <input class="form-control" id="Name" name="Name" required type="text" value="{{data.name}}">
                            </div>
                        </div>
                        <div class='col-sm'>
                            <div class="form-group  required"><label class="control-label" for="Abbreviation">Abbreviation</label>
                                <input class="form-control" id="Abbreviation" name="Abbreviation" required type="text" value="{{data.abbreviation}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm'>
                            <div class="form-group  required"><label class="control-label" for="Description">Description</label>
                                <input class="form-control" id="Description" name="Description" required type="text" value="{{data.description}}">
                            </div>
                        </div>
                        <div class='col-sm'>
                            <div class="form-group  required"><label class="control-label" for="Colour">Colour</label>
                                <input class="form-control" id="Colour" name="Colour" required type="text" value="{{data.colour}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm'>
                            <img style="width:192px;" src="../static/logos/{{data.logoBlue}}">
                            <div class="form-group  required"><label class="control-label" for="LogoBlue">LogoBlue</label>
                                <input id="LogoBlue" name="LogoBlue" type="file"accept="image/*"> 
                            </div>
                        </div>
                        <div class='col-sm'>
                            <img style="width:192px;" src="../static/logos/{{data.logoRed}}">
                            <div class="form-group  required"><label class="control-label" for="LogoRed">LogoRed</label>
                                <input id="LogoRed" name="LogoRed" type="file"accept="image/*"> 
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="id" name="id" value="{{data.id}}">
                    <input class="btn btn-default" id="Submit" name="Submit" required type="submit" value="Submit">
                </form>
			</div>
			<div class="col-2">
			</div>
		</div>
	</div>
</div>
{% endblock %}