{% extends "Base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<style>.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }</style>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal" tabindex="-1" id="Add">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Tournament</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{wtf.quick_form(form, id='AddTournament', action=url_for('TournementsBP.submit'))}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="document.getElementById('AddTournament').submit()">Add match</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div>
      <a type="button" class="btn btn-secondary btn-lg btn-block" id="AddButton" data-bs-toggle="modal" data-bs-target="#Add"><img src="../static/img/plus.svg"></a>
    </div> 
    <div style="height: 20px;"> </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Tournament ID</th>
            <th scope="col">Tournament Name</th> 
          </tr>
        </thead>
        <tbody>
            {% for Tournement in Tournements%}
                <tr>
                    <td>
                        {{Tournement.tournementid}}
                    </td>
                    <td>
                        {{Tournement.tournementname}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-info" onclick="Codes('{{Tournement.tournementid}}')">Codes<i class="fas fa-edit"></i></button>
                      <form id="Codes{{Tournement.tournementid}}" action="{{ url_for('TournementsBP.TournementsCodes') }}" method="post">
                          <input type="hidden" id="id" name="id" value="{{Tournement.tournementid}}">
                      </form>
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
</script>
{% endblock %}