{% extends "Base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<style>.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }</style>

<div class="container">
    <div>
        <a type="button" class="btn btn-secondary btn-lg btn-block" href={{url_for('TournementsBP.Tournementsadd')}}><img src="../static/img/plus.svg"></img></a>
    </div> 
    <div style="height: 20px;"> </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Tournement ID</th>
            <th scope="col">Tournement Name</th>
          </tr>
        </thead>
        <tbody>
            {% for Tournement in Tournements%}
                <tr>
                    <td>
                        {{Tournement.tournementid}}
                    </td>
                    <td>
                        {{Tournement.tournementname}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-info" onclick="Codes('{{Tournement.tournementid}}')">Codes<i class="fas fa-edit"></i></button>
                      <form id="Codes{{Tournement.tournementid}}" action="{{ url_for('TournementsBP.TournementsCodes') }}" method="post">
                          <input type="hidden" id="id" name="id" value="{{Tournement.tournementid}}">
                      </form>
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function Codes(id){
      document.getElementById('Codes'+id).submit()
  }
</script>
{% endblock %}