{% extends "Base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<style>.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}</style>
<div class="container">
  <div>
    <a type="button" class="btn btn-secondary btn-lg btn-block" href={{url_for('MatchesBP.matchadd')}}><img src="../static/img/plus.svg"></a>
    <div class="dropdown">
      <a type="button" class="btn btn-secondary btn-lg btn-block dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><img src="../static/img/sort.svg"></a>
      <ul class="dropdown-menu" >
        <li><a class="dropdown-item" href={{url_for('MatchesBP.match')}}?time=hour>Last 10 hours</a></li>
        <li><a class="dropdown-item" href={{url_for('MatchesBP.match')}}?time=week>Last week</a></li>
        <li><a class="dropdown-item" href={{url_for('MatchesBP.match')}}?time=month>last month</a></li>
        <li><a class="dropdown-item" href={{url_for('MatchesBP.match')}}?time=all>All</a></li>
      </ul> 
    </div>
  </div>
    <div class="row">
            <div class="d-grid gap-2">
               <button type="button" id="Save" style="display: none;" class="btn btn-success" onclick="SavePOST()">Save<i class="far fa-trash-alt"></i></button>
            </div>
    </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            {% for header in headings%}
            <th scope="col">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for match in data%}
                <tr>
                    <td>
                        {% for team in teams%}
                            {%if team.id == match.team1%}
                            {{team.name}} | {{team.abbreviation}} | {{team.description}}
                            {%endif%}
                        {% endfor %} 
                    </td>
                    <td>
                        {% for team in teams%}
                            {%if team.id == match.team2%}
                            {{team.name}} | {{team.abbreviation}} | {{team.description}}
                            {%endif%}    
                        {% endfor %} 
                    </td>
                    <td>
                        {{match.time}}
                    </td>
                    <td>
                        {{match.format}}
                    </td>
                    <td>
                      {% for team in teams%}
                        {%if team.id == match.winner%}
                          {{team.abbreviation}}
                        {%endif%}    
                      {% endfor %}
                    </td>
                    <td>
                      {% for team in teams%}
                        {%if team.id == match.loser%}
                          {{team.abbreviation}}
                        {%endif%}    
                      {% endfor %}
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" onclick="Decide('{{match.id}}')">Pick Winner<i class="far fa-trash-alt"></i></button>
                      <form id="Decide{{match.id}}" action="{{ url_for('MatchesBP.matchdecide') }}" method="post">
                        <input type="hidden" id="id" name="id" value="{{match.id}}">
                      </form>
                      <button type="button" class="btn btn-success" onclick="Stats('{{match.id}}')">Get Stats<i class="fas fa-edit"></i></button>
                      <form id="Stats{{match.id}}" action="{{ url_for('MatchesBP.matchgetstats') }}" method="post">
                          <input type="hidden" id="id" name="id" value="{{match.id}}">
                      </form>
                      <button type="button" class="btn btn-success" onclick="Edit('{{match.id}}')">Edit<i class="fas fa-edit"></i></button>
                      <form id="Edit{{match.id}}" action="{{ url_for('MatchesBP.matchsave') }}" method="post">
                          <input type="hidden" id="id" name="id" value="{{match.id}}">
                      </form>
                      <button type="button" class="btn btn-danger" onclick="Del('{{match.id}}')">Delete<i class="far fa-trash-alt"></i></button>
                      <form id="Del{{match.id}}" action="{{ url_for('MatchesBP.matchdel') }}" method="post">
                          <input type="hidden" id="id" name="id" value="{{match.id}}">
                      </form>
                      
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    let Teams = []
    function Del(id){
        document.getElementById('Del'+id).submit()
    }
    function Edit(id){
        document.getElementById('Edit'+id).submit() 
    }
    function Decide(id){
      document.getElementById('Decide'+id).submit() 
    }
    function Stats(id){
      document.getElementById('Stats'+id).submit() 
    }
  </script>
{% endblock %}