<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Home</title>
  <style>
  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	}
  .pt-5 {
	padding: (spacer * 3)!important;
	}
  </style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		

		<div class="position-relative" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href={{url_for('main.index')}}>Home</a>
				</li>
				<li class="nav-item dropdown">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							A GFX Controls
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href={{url_for('main.castersoverlay', stream='A')}}>Casters</a></li>
							<li><a class="dropdown-item" href={{url_for('main.scheduleoverlay', stream='A')}}>Schedule</a></li>
							<li><a class="dropdown-item" href={{url_for('main.overlay', stream='A')}}>Overlay</a></li>
							<li><a class="dropdown-item" href={{url_for('main.stats', stream='A')}}>Stats</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item dropdown">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							B GFX Controls
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href={{url_for('main.castersoverlay', stream='B')}}>Casters</a></li>
							<li><a class="dropdown-item" href={{url_for('main.scheduleoverlay', stream='B')}}>Schedule</a></li>
							<li><a class="dropdown-item" href={{url_for('main.overlay', stream='B')}}>Overlay</a></li>
							<li><a class="dropdown-item" href={{url_for('main.stats', stream='B')}}>Stats</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href={{url_for('CastersBP.casters')}}>Casters</a></li>
				<li class="nav-item"><a class="nav-link" href={{url_for('MatchesBP.match')}}>Matches</a></li>
				<li class="nav-item"><a class="nav-link" href={{url_for('MusicBP.music')}}>Music</a></li>
				<li class="nav-item"><a class="nav-link" href={{url_for('TeamsBP.teams')}}>Teams</a></li>
				<li class="nav-item dropdown">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							A XMLs
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href={{url_for('main.musicAPI', stream='A')}}>Music XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.overlayAPI', stream='A')}}>Overlay XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.castersAPI', stream='A')}}>Casters XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.MatchAPI', stream='A')}}>Matches XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.statsAPI', stream='A')}}>Stats XML</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item dropdown">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							B XMLs
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href={{url_for('main.musicAPI', stream='B')}}>Music XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.overlayAPI', stream='B')}}>Overlay XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.castersAPI', stream='B')}}>Casters XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.MatchAPI', stream='B')}}>Matches XML</a></li>
        					<li><a class="dropdown-item" href={{url_for('main.statsAPI', stream='B')}}>Stats XML</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href={{url_for('ROLFBP.rolf')}}>ROLF</a></li>
				<li class="nav-item"><a class="nav-link" href={{url_for('PlayersBP.players')}}>Players</a></li>
				<li class="nav-item"><a class="nav-link" href={{url_for('main.RiotAPI')}}>RiotAPI</a></li>
				<li class="nav-item"><a class="nav-link" href={{url_for('Plot.plot_png')}}>plot_png</a></li>
				<li class="nav-item nav=link disabled text-muted" href = "#">
					<span>Welcome, me</span>
				</li>
			</ul>
		</div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
		<center>
		<br>
		<br>
		<br>
		<br>
		<h5>Hydrogen By</h5>
        <p>Alexander Martin<br>
		<a href="n10625194@qut.edu.au">martia25@qut.edu.au</a></p>
		</center>
      </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
  </body>
</html>